<% include top %>

<div class="page-content container">
	<li class="list-group-item">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo" width="50" height="50">
		<label for="checkbox3">List group item heading 2 </label>
		<div class="pull-right action-buttons">
			<a href="#"><span class="glyphicon glyphicon-play"></span></a>
			<a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
			<a href="#" class="flag"><span class="glyphicon glyphicon-share-alt"></span></a>
		</div>
	</li>
	
</div>

<% include bottom %>