<% include top %>

<div class="page-content container">
  <div class="text-intro jumbotron">
    <div class="col-md-6">
        <h1>Introduce</h1>
        <p>Screen video recording for Chrome, Chromebooks and Chromeboxes.</p>
    </div>
    <div class="col-md-6">
      <img src="introduce.jpg" class="img-responsive splash-monitor">

    </div>
  </div>
    <div id="install-button" hidden >
        <a href="https://chrome.google.com/webstore/detail/ajhifddimkapgcifgcodmmfdlknahffk">Request Install chrome extention</a>
    </div>
  <div class="row boder">

    <div class="col-md-3" id="options">
      
      <label>Webcam</label>
      <input type="checkbox" name="" id="check_camera">
      <br>
      <label>Audio</label>
      <input type="checkbox" name="" id="check_audio">
      <div>
        <br>
        <label>List Record</label>
        <hr>
      </div>
      
    </div>
     <div class="col-md-9" id="load_video">
        <div>
          <!-- <video id= "recorded" width="840" height="480" controls></video> -->
          <div style="position: relative;">
                  <video id= "recorded" class="video-frame" controls ></video>
                  <video id="camera" class="video-frame" ></video>
              </div>
        </div>
        <div id="group_btn">
          <button id="start" class="btn btn-primary btn-custom">Start Record</button>
          <button id="stop" disabled class="btn btn-primary btn-custom">Stop Record</button>
          <button id="play" disabled class="btn btn-primary btn-custom">Playback</button>
          <button id="download" disabled class="btn btn-primary btn-custom">Download</button>
          <button id="upload" disabled class="btn btn-primary btn-custom">Upload</button>
        </div>
    </div>
  </div>


<% include bottom %>
