<% include top %>

<div class="page-content container">
  <div class="text-intro jumbotron">
    <div class="col-md-6">
        <h1>Introduce</h1>
        <p>Screen video recording for Chrome, Chromebooks and Chromeboxes.</p>
    </div>
    <div class="col-md-6">
      <img src="introduce.jpg" class="img-responsive splash-monitor">

    </div>
  </div>
    <div id="install-button" hidden >
        <a href="https://chrome.google.com/webstore/detail/ajhifddimkapgcifgcodmmfdlknahffk">Request Install chrome extention</a>
    </div>
  <div class="row boder">

    <div class="col-md-3" id="options">
      
      <label>Webcam</label>
      <input type="checkbox" name="" id="check_camera">
      <br>
      <label>Audio</label>
      <input type="checkbox" name="" id="check_audio">
      <div>
        <br>
        <label>List Record</label>
        <hr>
      </div>
      
    </div>
     <div class="col-md-9" id="load_video">
        <div>
          <!-- <video id= "recorded" width="840" height="480" controls></video> -->
          <div style="position: relative;">
                  <video id= "recorded" class="video-frame" controls ></video>
                  <video id="camera" class="video-frame" ></video>
              </div>
        </div>
        <div id="group_btn">
          <button id="start" class="btn btn-primary btn-custom">Start Record</button>
          <button id="stop" disabled class="btn btn-primary btn-custom">Stop Record</button>
          <button id="play" disabled class="btn btn-primary btn-custom">Playback</button>
          <button id="download" disabled class="btn btn-primary btn-custom">Download</button>
          <button id="upload" disabled class="btn btn-primary btn-custom" data-toggle="modal" href='#modal-upload'>Upload</button>
        </div>
    </div>
  </div>

    <!-- MODAL -->
     <div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-upload">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div class="form-group">
                                <label for="exampleInputPassword1">File name</label>
                                <input type="text" class="form-control"
                                       id="inputname" placeholder="filename"/>
                                <br>

                                <input type="button" class="form-control btn-primary"
                                       id="button_send" placeholder="button_send" value="Upload"/>
                            </div>
                            <br>
                            <label for="exampleInputPassword1" class="display" id="noti_name" style = "width: 100%; text-align: center; color: red;" hidden>file name incorrect</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.WebRTC-Experiment.com/getScreenId.js"></script>
    <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script>
    <script src="/javascripts/record.js"></script>

<% include bottom %>
